<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Overlapping Images</title>
<style>
    .container {
        position: relative;
        width: 300px;
        height: 200px;
    }

    .image1 {
        position: absolute;
        top: 0;
        left: 0;
    }

    .image2 {
        position: absolute;
        top: 0px;
        left: 0px;
    }
</style>
</head>
<body>

<div class="container">
    <img src="/video_feed" alt="Image 1" class="image1">
    <img src="/video_feed1" alt="Image 2" class="image2">
</div>

</body>
</html>