<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RTSP Stream</title>
</head>
<body>
    <h1>RTSP Stream</h1>
    <!-- <video id="video_feed" autoplay controls></video>
    <script>
        var video = document.getElementById("video_feed");
        video.src = "/video_feed";
    </script> -->
    <img src="/video_feed" width="500" height="300">
    <img src="/video_feed1" width="500" height="300">
</body>
</html>