<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model Detect</title>
</head>
<body>
    <form action="/" method="post" enctype="multipart/form-data">
        <!-- <select name="model">
            <option value='1001'>pose</option>
            <option value='1201'>smokefire</option>
            <option value='1101'>helmet</option>
        </select>
        <select name="device">
            <option value='0'>cpu</option>
            <option value='1'>gpu</option>
        </select>{{model_load}} -->
    {% include 'task.html' %}

    </form>
    

</body>
</html>