<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model Detect</title>
</head>
<body>
    <form action="/rtsp" method="post" enctype="multipart/form-data">
            {% include 'task.html' %}
            <h2>RTSP</h2>
            <label for="input_text">RTSP URL:</label>
            <input type="text" name="rtsp_url">
            <select name="channel">
                <option value=1>channel1</option>
                <option value=2>channel2</option>
                <option value=3>channel3</option>
                <option value=4>channel4</option>
                <option value=5>channel5</option>
                <option value=6>channel6</option>
                <option value=7>channel7</option>
                <option value=8>channel8</option>

            </select>
            <input type="submit" name="url_submit" value="Submit">{{url_valid}}
            <br><br>
    </form>

    {% if rtsp_valid %}
    <form action="/rtsp_detect" method="post" enctype="multipart/form-data">
        {% include 'model.html' %}
        <input type="submit" name="model_choose" value="detect"><br>
    </form><br>

    <img src="/rtsp_show/1" alt="Image 1" class="image1">
    <img src="/rtsp_show/2" alt="Image 2" class="image1">
    <img src="/rtsp_show/3" alt="Image 3" class="image1">
    <img src="/rtsp_show/4" alt="Image 4" class="image1">
    <img src="/rtsp_show/5" alt="Image 5" class="image1">
    <img src="/rtsp_show/6" alt="Image 6" class="image1">
    <img src="/rtsp_show/7" alt="Image 7" class="image1">
    <img src="/rtsp_show/8" alt="Image 8" class="image1">
        {% if detect_rtsp %}
        <img id="rtsp_detect_0" src="" alt="detected image" class="image1">
        {% endif %}
    {% endif %}
</body>
<style> 
    .container {
        display: flex;
        justify-content: space-around; /* 或者使用其他的 justify-content 属性来调整图片之间的间距 */
    }

    .image1 {
        width: 50%; /* 这里的百分比可以根据你的需要来调整 */
        max-width: 480px; /* 设置图片的最大宽度，避免在较大屏幕上图片过大 */
        height: auto; /* 让浏览器根据宽度自动调整高度，以保持图片比例 */
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.1/socket.io.js"></script>
<script>
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    socket.on('connect', function() {
        console.log('Connected to WebSocket server');
    });

    socket.on('detect_img', function(image_data) {
        document.getElementById('rtsp_detect_0').src = image_data;
    });
</script>
</html>