<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video</title>
</head>
<style>
    .container {
        display: flex;
        justify-content: space-around; /* 或者使用其他的 justify-content 属性来调整图片之间的间距 */
    }

    .video1, .video2 {
        width: 50%; /* 这里的百分比可以根据你的需要来调整 */
        max-width: 480px; /* 设置图片的最大宽度，避免在较大屏幕上图片过大 */
        height: auto; /* 让浏览器根据宽度自动调整高度，以保持图片比例 */
    }
</style>
<body>
    <form action="/video" method="post" enctype="multipart/form-data">
        {% include 'task.html' %}
        {% include 'model.html' %}
        <h2>Video</h2>
        <input type="file" name="file" accept="video/*">
        <input type="submit" value="Upload">
    </form>
        <br><br>
        <div class="container">
        {% if uploaded_video %}
            <video controls class="video1">
            <source src="{{ uploaded_video }}" type="video/mp4">
            Your browser does not support the video tag.
            </video>
        {% endif %}
        {% if processed_video %}
            <video controls class="video2">
            <source src="{{ processed_video }}" type="video/mp4">
            Your browser does not support the video tag.
            </video>
        {% endif %}
        </div>
</body>
</html>